<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>潮妈帮Api文档中心</title>

        <link rel="stylesheet" href="semantic-ui/2.1.6/dist/semantic.min.css">
        <link rel="stylesheet" href="semantic-ui/2.1.6/dist/components/table.min.css">
        <link rel="stylesheet" href="semantic-ui/2.1.6/dist/components/container.min.css">
        <link rel="stylesheet" href="semantic-ui/2.1.6/dist/components/message.min.css">
        <link rel="stylesheet" href="semantic-ui/2.1.6/dist/components/label.min.css">


    </head>

    <body class="site pushable">
        <html>


</html>
        <div class="pusher">
            <div class="ui">

                <div class="ui grid">
                    <div class="three wide column">
                        <div class="ui secondary vertical menu" >
                            <?php 
                            foreach($api_container as $api=>$api_link){
                            echo '<a target="main" href="'.$api_link.'" class="item" title="' . strtolower($api). '" alt="'. strtolower($api) .'">'. strtolower($api) .'</a>';
                            }

                            ?>
                            <foreach name="apis" item="avo" >
                                <foreach name="avo" item="ser" key='skey' >
                                    <a href="<php>echo \Open\Service\Doc::getApiLinkByService($ser);</php>" class="item <php>if(strtolower($ser) == $service){echo 'active';}</php>" title="{$ser|strtolower}" alt='{$ser|strtolower}'>{$ser|strtolower} </a>
                                </foreach>
                            </foreach>
                        </div>
                    </div>
          

                </div>
            </div>
        </div>


    </body>
</html>


